:root {
    --main-color: #ff9aa2;
    --black: #7a585b;
    --bg: #ffb7b2;
    --minpink:#c7ceea;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --medblue: #edd499;
    font-size: 10px;

}



* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--black);
}

/* Seção HEADER  */

.depth-section {
    margin: 20px 20px;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--minpink);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-bottom: 8px solid var(--main-color);
}

.img {
    
    box-shadow:  0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img:hover{
    transform: scale(1.02);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.logo img {
    height: 50px;
    transform: scale(1.4);
    transform-origin: left center;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black);
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 0.5;
    font-size: 2.0rem;
}



.btn {
    background: var(--main-color);
    color: var(--black);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1.0rem;
    display: inline-block;

}

.btn:hover {
    letter-spacing: 0.1rem;
}

/* Ilustrações */

.gallery-section{
   background-color: var(--medblue);
  padding: 60px 20px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
}

.gallery-section .swiper{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}





/* Seção HOME */

.home-container {
    background-image: url(./image/home-background.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 8px solid var(--main-color);
    border-radius: 0 0 24px 24px;
}

.home-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 0 0 24px 24px;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    
}

.content-home {
    max-width: 60rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    z-index: 2;

}

.content-home h3 {
    color: #fff;
    font-size: 6rem;
}

.content-home p {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.title {
    font-size: 4rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: var(--main-color);
    text-transform: uppercase;
}

/* DIVISÂO */

.vertical-gif{
    width: 100%;
    height: 60px;
    
    background-image: url(./image/gif-divisor.gif);
    margin-top: 60px;
    border-radius: 10px;
}



/* Seção ABOUT */
.about{
    display: flex;
    justify-content: center;
    padding: 4rem 2rem;
}
.about-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.icon-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icon-column-left-icons img{
    object-fit: contain;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
    transition: transform 0.3s;
}

.icon-column-left-icons img:hover{
    transform: scale(1.1);
}

.icon-column-right-icons img{
    object-fit: contain;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
    transition: transform 0.3s;
}

.icon-colunm-right-icons img:hover{
    transform: scale(1.1);
}

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--minpink);
    gap: 2rem;
    max-width: 700px;
    width: 100%;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.about .row .cotainer-image{
    flex: 1;
    max-width: 300px;
}

.about .row .cotainer-image img{
    width: 100%;
    border-radius: 12px;
}

.about .row .content {
    flex: 1;
    padding: 2rem;
    color: var(--black);
}

.about .row .content h3 {
    font-size: 2.4rem;
    color: var(--black);
}

.about .row .content p {
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.6rem;
}


/* Carrosel camisas */

.swiper-slide{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

/* estilo para todos os carroseis */
.swiper{
    padding: 2rem;
    border-radius: 12px;
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.swiper-slide img{
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 16px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    cursor: pointer;
}



.swiper-slide img:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.25);
}

/* bolinhas do carrosel */

.swiper-pagination-bullet {
  background: #999;
  opacity: 1;
  transition: background 0.3s;
}

.swiper-pagination-bullet-active {
  background: #ff4081;
}

/* setinhas */

.swiper-button-next,.swiper-button-prev,.custom-next,.custom-prev,.works-next,.works-prev {
  color: #ff4081;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.swiper-button-next::after,.swiper-button-prev::after,.custom-next::after,.custom-prev::after,.works-next::after,.works-prev::after {
  font-size: 18px;
}

.section-3,.alt-gallery{
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
    border-radius: 16px;
}

.section-3 {
  background-color: var(--medblue); 
}

.section-4 {
  background-color: var(--bg); 
}

.swiper-slide img:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 36px rgb(0, 0, 0,0.25);
}

.swiper {
    
    padding: 2rem;
    border-radius: 12px;
}

/* Efeito de zoom ao passar o mouse na imagem do carrosel */

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

.lightbox img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.lightbox-close{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
}

.hidden{
    display: none;
}


/* segunda seção com carrrosel */

.alt-gallery{
    background-color: #ffe9ec;
    padding: 60px 20px;
}

.alt-gallery .title{
    color: #444;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.alt-gallery .swiper-slide img{
    
    border: 4px solid #fff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.alt-gallery .swiper-slide img:hover{
    transform: scale(1.04);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
}

.alt-gallery .custom-next,.alt-gallery .custom-prev{
    color: #e75480;
}

.alt-gallery .custom-pagination .swiper.pagination-bullet-active{
    background: #e75480;
}



/* terceiro carrosel */

.works-gallery{
    background-color: #e8f6f8;
    padding: 60px 20px;
    border-radius: 20px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.8);
}

.works-gallery .title{
    color: #2a4d59;
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 30px;
}

.works-gallery .swiper-slide img{
    border-radius: 16px;
    border: 3px solid #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.works-gallery .swiper-slide img:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.25);
}

.works-next, .works-prev{
    color: #2a4d59;
}

.works-pagination .swiper.pagination-bullet-active{
    background-color: #2a4d59;
}

.footer {
    text-align: center;

}

.footer .share {
    padding: 1rem 0;

}

.footer .share img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover {
    background-color: var(--main-color);
}

